// CodeMirror
@import "../codemirror/codemirror.css";

.CodeMirror-scroll {
	overflow: initial !important;
}

// Block
.wp-block[data-align="full"] .wp-block-a-nice-code-block-code-block {
  border-radius: 0;
}

// Settings
.ancb-small-input {
	width: 80px;
}
