// CodeMirror
@import "../vendor/codemirror/codemirror.css";

.CodeMirror-scroll {
	overflow: initial !important;
}

// Block
.wp-block[data-align="full"] .wp-block-prettycode-code {
  border-radius: 0;
}

// Settings
.prettycode-small-input {
	width: 80px;
}
