// CodeMirror
@import "../codemirror/codemirror.css";

.CodeMirror pre {
  line-height: 24px;
}

// Block
.wp-block[data-align="full"] .wp-block-a-nice-code-block-code-block {
  border-radius: 0;
}


// Settings
.ancb-small-input {
	width: 80px;
}

.ancb-2-cols {
	display: flex;
	gap: 2em;

	& > * {
		flex: 1;
	}
}
